/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    line-height: 1.6;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px 0;
}

/* Navigation */

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: yellow;
}
nav ul li a:active {
    text-decoration: underline;
}

.nav-links a.on {
    color: yellow;
	font-weight: bold;

}

.logo {
    text-align: center;
}

.logo img {
    width: 250px; 
    height: auto;
}


.mobile-logo img {
    width: 150px;
    height: auto; 

}


@media (max-width: 768px) {
.logo {
        display: none;
    }
	
.mobile-logo {
        display: block;
        margin-left: 10px; 
    }

}

/* Mobile Menu */

.mobile-menu{
	display: none;
}

.mobile-nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    z-index: 999;
}

.mobile-nav-links.active {
    display: block;
}

.mobile-nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav-links li {
    margin-bottom: 20px;
}

.mobile-nav-links a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Hamburger Icon for Mobile */
@media (max-width: 768px) {
    .nav-links {
        display: none; 
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
	
    .mobile-nav-links {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        padding: 20px;
        box-sizing: border-box;
        z-index: 999;
        flex-direction: column;
        justify-content: center;
        align-items: center;
		font-size: 40px;
    }

    .mobile-nav-links.active {
        display: flex; 
    }

    .mobile-nav-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-nav-links li {
        margin-bottom: 20px;
    }

    .mobile-nav-links a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }

    /* Styles for hamburger icon */
    .hamburger {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: 0.4s;
    }

}

/* Home Page Stylings */

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
	padding-bottom: 50px;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}
.intro-gif {
    display: block;
    margin: 0 auto 20px;
    max-width: 50%;
    height: auto;
}

.gif {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}

.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #000; /* Blinking cursor effect */
    animation: typing 4s steps(40, end);
}

/* Keyframe animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.scroll-down {
    display: block;
    text-align: center;
    margin-top: 20px; 
}

.scroll-down img {
    width: 40px; 
    height: auto;
    cursor: pointer;
}

.projects {
    margin-bottom: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
	
}

.case-study {
    position: relative;

    overflow: hidden;
    text-align: center;
}

.image-wrapper {
    position: relative;
	display: inline-block;
}

.case-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.overlay {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: none;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}



.case-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
	font-size: 40px;
	font-weight: bold;
}

.image-wrapper:hover .case-image {
    filter: blur(4px);
	
}


.case-name-blue{
	color:aquamarine;
}
.case-name-green{
	color:greenyellow;
}

.case-name-purple{
	color:mediumpurple;
}
.case-name-darkpurple{
	color:rebeccapurple;
}


.case-study:hover .overlay {
    opacity: 1;
}

.case-study:hover .case-name {
    opacity: 1;
}

.case-study:hover .case-image {
    transform: scale(1.05);
}

.case-link {
    text-decoration: none;
    color: white; 
    z-index: 1;
}


.case-study h3 {
    margin-bottom: 10px;
}

.case-study p {
	margin-top: 10px;
    margin-bottom: 30px;
}


footer {
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* MeetSpace Stylings */

.video-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.video-container {
    width: 100%;
    overflow: hidden;
}

#header-video {
    width: 100%;
    height: auto;
    position: relative;
    
}

.about-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.team-list ul {
    list-style: none;
    padding: 0;
}

.team-list ul li {
    margin-bottom: 10px;
}

.full-width-photo {
    width: 100%;
    text-align: center;
}

.full-width-photo img {
    width: 100%;
    height: auto;
    display: block;
}

.two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    text-align: left;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.personas-section {
    padding: 20px;
    text-align: center;
}

.slideshow-container {
    position: relative;
    margin-top: 20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.persona-slide {
    display: none;
}

.persona-slide img {
    width: 100%;
    height: auto;
}

.persona-slide figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #666;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.active {
    background-color: #717171;
}

.two-column-section {
    display: flex;
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 75%;
}

.gif-column {
    width: 25%;
}

.gif-column img {
    width: 100%;
    height: auto;
    display: block;
}

.jump-section {
    text-align: center;
    margin-top: 20px;
	margin-bottom: 20px;
}

.jump-list {
    padding: 0;
    list-style: none;
}

.jump-list li {
    display: inline-block;
    margin: 5px;
}

.jump-list li a {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.jump-list li a:hover {
    background-color: #2980b9;
}

@media (max-width: 768px) {
    .two-column-section {
        flex-direction: column;
    }

    .wrapper {
        width: 100%;
    }

    .gif-column {
        width: 100%;
    }
	
	.about-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about-description,
    .team-list {
        width: 100%;
        padding: 10px;
    }
	.two-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
	.grid-item{
		width: 100%;
        padding: 10px;
	}
}

/* About Me Page */

#skills {
    padding-bottom: 20px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    gap: 20px;
}

.skill {
    text-align: center;
}


.skill img {
    border-radius: 8px;
    max-width: 100%; 
}


@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: 1fr; 
    }
}

.resume-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px; 
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

#contact {
    text-align: center; 
}

.reach-me {
    color: #333; 

}

.email-link {
    font-weight: bold; 
    color: #3498db;
	text-decoration: none;

}

.email-link:hover {
    color: #2980b9;

}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3-column grid */
    gap: 20px;
}

.gallery-item {
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer; /* Change cursor on hover */
}

@media (max-width: 768px) {
            .gallery-grid {
                display: block;
            }
            .gallery-item {
                margin-bottom: 20px;
            }
        }
